.card {
  box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
  border-radius: 20px 0;
  padding: .5rem;
}

.card-img {
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img img {
  width:25vh;
  height:20vh;
  object-fit:cover;
  margin: 2rem;
  border-radius: 20px 0;
  
}

.card-place {
  margin: 1em 0 1em 1em;
  font-weight: 600;
  color: #828282;
}

.card-title {
  font-size: 1.8em;
  font-weight: 500;
  color: #333333;
  margin-left: 1rem;
  text-transform: uppercase;
}

.card-age, .card-description {
  font-size: 1.8em;
  font-weight: 500;
  color: #333333;
  margin-left: 1rem;
}