.cards-section {
    padding: 5em 1em;
    min-height: 80vh;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15em);
    justify-content: center;
    grid-gap: 2em;
    grid-row-gap: 4em;
}