.homepage-section-container {
    display: flex;
    justify-content: center;
}

.homepage-cards-list {
    margin-top: -2em;
}
.homepage-card {
    width: 10em;
    height: 8em;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.btn-homepage-card {
    align-items: center;
    background: #efeef1;
    border: 1px solid var(--main-color-alt);
    border-radius: 10px;
    box-shadow: 0 4px 4px #0000000d;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    width: 80%;
}

.btn-homepage-card span {
    color: var(--main-color-alt)
}

/* Media queries */

@media (min-width: 768px) {
    .homepage-card {
        width: 20em;
        height: 10em;
    }
    .btn-homepage-card {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {
    .homepage-card {
        width: 25em;
        height: 12em;
    }
    .btn-homepage-card {
        font-size: 1.5rem;
    }
}
@media (min-width: 1200px) { 
    .homepage-card {
        width: 25em;
        height: 12em;
    }
    .btn-homepage-card {
        font-size: 1.5rem;
    }
}