/* .homepage-section-container {
    background-color: #efeef1;
} */

.homepage-cards {
    margin-top: -1em
}
.homepage-cards-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.btn-homepage-card {
    align-items: center;
    background: #efeef1;
    border: 1px solid var(--main-color-alt);
    border-radius: 10px;
    box-shadow: 0 4px 4px #0000000d;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    width: 80%;
}

.btn-homepage-card span {
    color: var(--main-color-alt)
}