@import 'bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --main-color: #35d8e1;
  --main-color-alt2: #e75575;
  --main-color-alt: #fc8800;
  --color-grey: #333333;
}

body {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

#root {
  min-height: 100vh;
}

/* GENERAL STYLES */

.homepage-section, .aboutme-section, .user-create-section, .user-edit-section {
  background: radial-gradient(70.02% 276.03% at 70.02% 54.72%, #f5f5f5 33.43%, #e5e5e5 100%);
}

.aboutme-section, .pet-create-section, .user-edit-section {
  padding: 1em;
}

/* Buttons/logo/icon */

.btn-main-color {
  background-color: var(--main-color-alt);
  color: black;
  font-weight: 600;
  border: none
}

.btn-danger-color {
  background-color: #ee3030;
  color: black;
  font-weight: 600;
  border: none
}

.btn-adopt {
  background-color: var(--main-color-alt);
  color: white;
  border: none
}


/* Links */

a {
  text-decoration: none;
}

.link-black {
  color: black;
}


