.users-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 5rem 0;
    background: radial-gradient(70.02% 276.03% at 70.02% 54.72%, #f5f5f5 33.43%, #e5e5e5 100%);
}

.users-container {
    width: 86%;
    margin: 0 auto;
}

.users-section th,
.users-section td {
    padding: 1rem
}

.users-section .action {
    min-width: 13rem;
}

.tbl-row-align {
    text-align: center;
    vertical-align: middle;
}

/* User create section */

.form-admin {
    display: inline-flex;
    align-items:center;
    justify-content: center;
}
.input-admin {
    margin-bottom: 0 !important;
    margin-left: 1rem;
}
